# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
env/

# Django
nivesh/.env
nivesh/db.sqlite3
nivesh/staticfiles/
nivesh/media/
nivesh/seed_prices.py

# Logs & temp
*.log
*.tmp

# OS
.DS_Store
Thumbs.db
